link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' rel='stylesheet')
link(rel="stylesheet", href="../../css/login.css")
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
script(src='//code.jquery.com/jquery-1.11.1.min.js')
script(src='../../js/login.js')
// ---- Include the above in your HEAD tag --------
//
  you can substitue the span of reauth email for a input with the email and
  include the remember me checkbox
.container
  .card.card-container
    // <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" />
    img#profile-img.profile-img-card(src='//ssl.gstatic.com/accounts/ui/avatar_2x.png')
    if info && info.message 
      div.alert.alert-danger
        = info.message
    h2 Admin Login
    p Por favor, ingrese su email and password
    p#profile-name.profile-name-card
    form#Login(action='/login' method='post')
      .form-group
      span#reauth-email.reauth-email
      input#username.form-control(type='email' placeholder='Email Address' name='username')
      .form-group
      input#password.form-control(type='password' placeholder='Password' name='password')
      #remember.checkbox
        label
          input(type='checkbox' value='remember-me')
          |  Remember me
      button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit' value='Log In') Login
    // /form
    .forgot
      a(href='/forgotPassword') Olvidé mi password?
      
    a(href='/auth/google') Log In con Google 
  // /card-container
// /container