extends layout

block content
  // Responsive navbar
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
      a.navbar-brand(href='#') Gas Vehicular
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ms-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(aria-current='page' href='/login') Login
          li.nav-item
            a.nav-link.active(aria-current='page' href='/logout') Log-out
          li.nav-item
            a.nav-link(href='/vehiculos') Mis Vehículos 
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') Informacion
            ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdown')
              li
                a.dropdown-item(href='/privacy_policy.html') Politicas de Privacidad
              li
                a.dropdown-item(href='/vehiculos/create') Registrar Vehiculo
              li
                a.dropdown-item(href='/underConstruct') Horario de Atención
              li
                a.dropdown-item(href='#') Citas para revisión
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href='#') Datos técnicos
  // Page content
  .container
    .text-center.mt-5
      h1 Bienvenidos al sistema de Gas Vehicular de Margarita
      p.lead Sitio del interes para los usuarios del sistema a gas vehicular, noticias, datos de interes y registro de usuarios
      p Desarrollado por LeonEstudios 2021
      img.img-fluid(src='/images/gas.jpg' alt='estacion de servicio')
  .container
    .text-center.mt-5
      h2 Ubicación de la estación de Servicio para el Gas Natural Vehicular 
  .container
    #main_map  
  br
  br
  // Footer
  footer.footer.bg-black.small.text-center.text-white-50
    .container.px-4.px-lg-5 Copyright &copy; Pagína desarrollada por LeonStudios 2021
  // Bootstrap core JS
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js')
  // Core theme JS
  script(src='/js/scripts.js')
  script(src='/js/maps.js')

