extends layout

block content
  .mantenimiento
  h1 P&aacute;gina web en construcci&oacute;n
  p | Lo sentimos, no hemos encontrado un mensaje m&aacute;s original para decirte que estamos trabajando en ello.
  h2 Web disponible en:
  p#reloj.casio 00:00:00